*{
    margin : 0px;
    padding: 0px;
    border-radius: 0px;
    box-sizing: border-box;
    font-size: 100%;
}
#root{
    text-align: center;
}
.calculator-title{
    font-size: 30px;
    background: purple;
    font-family: Algerian;
    width: 400px;
    padding: 10px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    border: 2px solid black;
    color: grey;

}
.maincalc{
    margin: 0px;
    padding: 0px;
    border-radius: 0px;
    box-sizing: border-box;
}
.screen-row input{
    width: 400px;
    background: #ddd;
    border: 0px;
    color: #222;
    padding: 10px;
    text-align: right;
}
input[type="button"]{
    width: 100px;
    background: brown;
    border: 2px solid #222;
    padding: 10px 20px;
    color: black;
    text-align: center;
    font-size: 20px;
    display: inline-block;

}
input[type='button']:active{
    background: #ccc;
}